<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKnn1_W3dapaAxHe3YmFzTJPm_-SHbrf8</string>
	<key>GCM_SENDER_ID</key>
	<string>974761324990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drydash.customer</string>
	<key>PROJECT_ID</key>
	<string>drydash-customer-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>drydash-customer-notification.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974761324990:ios:50f75d0f021a3d944949ef</string>
</dict>
</plist>